section.classroomList{
  margin-top: 2em;
}

.ibox-title {
  h5.new-title, h5.new-title input {
    width: 100%;
  }

  input:hover, input:focus, {
    outline: none;
  }
}

.show{
  display: block;
  background-color: rgba(52, 52, 52, 0.8);
}

.hide{
  display: none;
  background-color: none;
}
