.shifts {
  .headerWeeks, .teachersWeeks {
    width: 100%;
    th, td{
      border-style: solid;
      border-width: 1px;
      padding: 0;
      vertical-align: top;
      text-align: center;
    }
  }
  .header {
    text-align: center;
    margin-bottom: 1em;
    span{
      width:100%;
      font-weight:bold;
      text-transform:uppercase;
      color:inherit;
    }
  }
}
