/* common: */
/* container definition */
/* animations */
.containersCustom {
  padding-left: 2%;
  padding-right: 2%; }

.invisible {
  opacity: 0; }

.viewEnter {
  opacity: 0;
  animation-name: fadeIn;
  animation-timing-function: ease-in;
  animation-duration: 0.7s;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 9999; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    transform: none; } }

body {
  background-color: #FFF; }

.nav {
  display: block; }
